.Chord {
    margin-top: 1rem;
}

.Chord_line {
    position: relative;
    padding-right: 2rem;
    clear: both;
    overflow: hidden;
}

.Chord_title {
    font-size: 1.2em;
    margin-top: 1.5rem;
}

.Chord_endOfLine {
    position: absolute;
    right: 1rem;
    bottom: 0;
    font-size: 1.5em;
    margin: .7rem 0;
}


.Chord_bar {
    font-size: 1.5em;
    border-left: 2px solid;
    padding: 0 1.2rem;
    margin: .7rem 0;
    float: left;
}

.Chord_chord {
    display: inline-block;

}
